---

import * as skills from '@/config/skills/index.md';
import ResumeTitle from "@/components/Title.vue";

---

<div class="mx-4 md:mb-6 mb-2">
    <ResumeTitle title="专业技能"></ResumeTitle>
    <skills.Content></skills.Content>
</div>