---
import Layout from "../layouts/Layout.astro";
import '@/assets/index.css';
import  '../assets/iconfont.css'
import UserInfo from '../components/UserInfo.vue';
import Education from '@/components/Education.vue';
import Work from '@/components/Work.vue';
import Project from '@/components/astro/Project.astro';
import Skills from "@/components/astro/Skills.astro";
import Tool from '@/components/Tool.vue';

// 欢迎来到 Astro！这些三横线所围住的代码
// 就是你的“组件 front matter”。它不会运行在浏览器中。
console.log("它运行在终端而非浏览器！");

---

<Layout title="个人简历">
  <div class="pt-6 max-w-screen-lg md:flex mx-auto dark:bg-gray-900">
    <UserInfo client:load />
    <main class="md:w-2/3 p-2 w-full dark:text-white">
      <Skills></Skills>
      <Work></Work>
      <Project></Project>
      <Education></Education>
      </main>
      <Tool client:load></Tool>
  </div>
</Layout>