---

import * as skills from '../config/skills/index.md';

---

<div class="mx-4 mb-6">
    <h1 class="mb-4 text-3xl md:text-4xl text-gray-900 font-bold">专业技能</h1>
    <skills.Content></skills.Content>
</div>